apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "common.names.fullname" . }}-controller
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    component: controller
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "common.labels.matchLabels" . | nindent 6 }}
      component: controller
  template:
    metadata:
      labels:
        {{- include "common.labels.standard" . | nindent 8 }}
        component: controller
    spec:
      serviceAccount: {{ include "common.names.fullname" . }}
      containers:
        - name: csi-attacher
          image: {{ .Values.controller.attacher.image }}:{{ .Values.controller.attacher.tag }}
          args:
          - --default-fstype=ext4
          volumeMounts:
            - name: socket-dir
              mountPath: /run/csi
        - name: csi-resizer
          image: {{ .Values.controller.resizer.image }}:{{ .Values.controller.resizer.tag }}
          volumeMounts:
            - name: socket-dir
              mountPath: /run/csi
        - name: csi-provisioner
          image: {{ .Values.controller.provisioner.image }}:{{ .Values.controller.provisioner.tag }}
          args:
            - --feature-gates=Topology=true
            - --default-fstype=ext4
          volumeMounts:
            - name: socket-dir
              mountPath: /run/csi
        - name: hcloud-csi-driver
          image: {{ .Values.image }}:{{ .Values.tag }}
          imagePullPolicy: {{ .Values.imagePullPolicy | default "IfNotPresent" }}
          command:
          - /bin/hcloud-csi-driver-controller
          env:
            - name: CSI_ENDPOINT
              value: unix:///run/csi/socket
            - name: METRICS_ENDPOINT
              value: 0.0.0.0:9189
            - name: ENABLE_METRICS
              value: "{{ .Values.metrics.enabled }}"
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: HCLOUD_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ if .Values.secret.existingSecretName }}{{ .Values.secret.existingSecretName }}{{ else }}{{ include "common.names.fullname" . }}{{ end }}"
                  key: {{ .Values.secret.tokenKey | default "token" }}
                  namespace: {{ .Release.Namespace }}
          ports:
            {{- if .Values.metrics.enabled }}
            - containerPort: 9189
              name: metrics
            {{- end }}
            - name: healthz
              containerPort: 9808
              protocol: TCP
          livenessProbe:
            failureThreshold: 5
            httpGet:
                path: /healthz
                port: healthz
            initialDelaySeconds: 10
            periodSeconds: 2
            timeoutSeconds: 3
          volumeMounts:
            - name: socket-dir
              mountPath: /run/csi
        - name: liveness-probe
          imagePullPolicy: Always
          image: {{ .Values.controller.livenessprobe.image }}:{{ .Values.controller.livenessprobe.tag }}
          volumeMounts:
            - mountPath: /run/csi
              name: socket-dir
      volumes:
        - name: socket-dir
          emptyDir: {}
